{% extends 'dashboard/dashboard_content.html' %}

{% block head_block %}
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
    <script src="http://1000hz.github.io/bootstrap-validator/dist/validator.min.js"></script>
{% endblock %}

{% block title %}
    Workshop Registration
{% endblock %}

{% block rightPane %}

    <div class="x_panel">
        <div class="x_title">
            <h2>
                <i class="fa fa-plus-circle"></i>
                Workshop Registration
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
            </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left" data-toggle="validator" role="form" method="POST">
                    {% csrf_token %}

                    <span class="section">Personal Info</span>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Name <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" name="name" placeholder="Enter your name"
                                   data-error="Enter your name" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Gender <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary" data-toggle-class="btn-default"
                                       data-toggle-passive-class="btn-default">
                                    <input name="gender" value="M" data-parsley-multiple="gender"
                                           data-parsley-id="12"
                                           type="radio" data-error="Choose your gender" required> &nbsp; Male &nbsp;
                                </label>
                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                       data-toggle-passive-class="btn-default">
                                    <input name="gender" value="F" data-parsley-multiple="gender" type="radio">
                                    Female
                                </label>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email"> Email <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="email" class="form-control" placeholder="Email"
                                   data-error="Enter a valid email" name="email" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number"> Mobile Number <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" pattern="^[0-9]+$" maxlength="10" minlength="10" class="form-control"
                                   name="mobile"
                                   data-error="Enter a valid mobile number"
                                   placeholder="Enter your Mobile number" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Department <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" name="department"
                                   data-error="Enter your department"
                                   placeholder="Enter your department name" required type="text">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> College <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" name="college"
                                   data-error="Enter your college"
                                   placeholder="Enter your College name" required type="text">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Location <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" name="location"
                                   data-error="Enter location of your college"
                                   placeholder="Enter your College location" required type="text">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Year of Study <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="year" class="form-control col-md-7 col-xs-12"
                                    data-error="Choose year of study" required>
                                <option disabled selected value=""> Choose any one</option>
                                <option value="1">1st Year</option>
                                <option value="2">2nd Year</option>
                                <option value="3">3rd Year</option>
                                <option value="4">4th Year</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Accommodation Needed
                            <span
                                    class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary" data-toggle-class="btn-default"
                                       data-toggle-passive-class="btn-default">
                                    <input name="accommodation" value="Y" data-parsley-multiple="accommodation"
                                           data-parsley-id="12"
                                           type="radio" data-error="Accommodation ?" required> &nbsp; Yes &nbsp;
                                </label>
                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                       data-toggle-passive-class="btn-default">
                                    <input name="accommodation" value="N" data-parsley-multiple="accommodation"
                                           type="radio"> &nbsp; No &nbsp;
                                </label>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="submit" name="register" class="btn1 btn-dark-green"> Register</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        {% if add %}
            $(function () {
                new PNotify({
                    title: 'Success!',
                    text: 'Registration Success',
                    type: 'success',
                    styling: 'bootstrap3',
                    min_height: "20px",
                    mobile: {'styling': true}
                });
            });
        {% endif %}
    </script>

{% endblock %}
