{% extends 'dashboard/dashboard_content.html' %}

{% block title %}
    Boys
{% endblock %}

{% block rightPane %}

    <div class="x_panel">
        <div class="x_title">
            <h2>
                <i class="fa fa-list"></i>
                Student Boys Accommodation
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-md-offset-10">
                    <button type="button" class="btn btn-primary" id='genrate_pdf'>
                        Generate PDF
                    </button>
                </div>
                <div class="x_content">
                    <br>
                    <form method="POST" id="attendance_form">{% csrf_token %}
                        <div class="table-responsive col-md-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Department</th>
                                    <th>College</th>
                                    <th>Location</th>
                                    <th>Year</th>
                                    <th>Phone</th>
                                    <th>Acc.</th>
                                    <th>Confirmed Online Payment</td>
                                    <th>Transaction Id</th>
                                    <th>Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for student in list_of_students %}
                                    <tr {% if student.gender == 'F' %}
                                        style="background-color: #c8fdff"
                                    {% endif %}>
                                        <td align="center">{{ forloop.counter }}</td>
                                        <td>{{ student.name }}&nbsp;({{ student.gender }})</td>
                                        <td>{{ student.email }}</td>
                                        <td>{{ student.department }}</td>
                                        <td>{{ student.college }}</td>
                                        <td>{{ student.location }}</td>
                                        <td align="center">
                                            {% if student.year_of_study == '1' %}
                                                I
                                            {% endif %}
                                            {% if student.year_of_study == '2' %}
                                                II
                                            {% endif %}
                                            {% if student.year_of_study == '3' %}
                                                III
                                            {% endif %}
                                            {% if student.year_of_study == '4' %}
                                                IV
                                            {% endif %}
                                        </td>
                                        <td align="center">{{ student.phone_number }}</td>
                                        <td align="center">
                                            {% if student.accommodation %}
                                                <i class="fa fa-check"></i>
                                            {% endif %}
                                        </td>
                                        <td align="center">
                                            {% if student.conf_tr_id %}
                                                <i class="fa fa-check"></i>
                                            {% endif %}
                                        </td>
                                        <td>{{ student.transaction_id }}</td>
                                        <td>
                                            {{ student.time_created|date:'d' }}th
                                            {{ student.time_created|time }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form id="dummy_form" method="post">
        {% csrf_token %}
    </form>

    <script type="text/javascript">
        $('document').ready(function () {
            $('#genrate_pdf').click(function () {
                window.open('{% url 'workshop_boys_accommodation' %}', '_blank')
            });
        });
    </script>

{% endblock %}
