<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>InfoQuest 17</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <link rel="icon" href="{% static 'iqlogo1.png' %}">
    <!-- Custom Theme files -->
    <link href="{% static 'infoquest/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'infoquest/css/style_fit.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'infoquest/css/font-awesome.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- js -->
    <script src="{% static 'infoquest/js/jquery-2.2.3.min.js' %}"></script>
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Aladin" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <!-- //web-fonts -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="{% static 'infoquest/js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'infoquest/js/easing.js' %}"></script>

    <script src="{% static 'infoquest/js/bootstrap.js' %}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
<style>
    .row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */

}
</style>
    <!-- //end-smooth-scrolling -->

    {% block head_block %}
    {% endblock %}

</head>
<body>

{% block body_content %}
{% endblock %}
<!--- //albums -->
<!-- footer start here -->
<div class="agilebg-footer">
    <div class="footer">
        <div class="container">
            <div class="footer-agileinfo">
                <h1 align="center" style="color: #23d2ff">InfoQuest Team</h1>
                <div class="col-md-6 col-sm-6 footer-wthree-grid">
                    <h3>Navigation</h3>
                    <ul>
                        <li style="font-size: larger"><a>Home</a></li>
                        <li style="font-size: larger"><a>Register</a></li>
                        <li style="font-size: larger"><a>Events</a></li>
                        <li style="font-size: larger"><a>Result</a></li>
                        <li style="font-size: larger"><a>Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 footer-wthree-grid">
                    <h3>Keep In Touch</h3>
                    <div class="ftr-icons">
                        <div class="ftr-iblock">
                            <span class="glyphicon glyphicon-map-marker">  </span>
                        </div>
                        <div class="ftr-text">
                            <p>Government College of Technology, Coimbatore - 641 013</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ftr-icons">
                        <div class="ftr-iblock">
                            <span class="glyphicon glyphicon-earphone">  </span>
                        </div>
                        <div class="ftr-text">
                            <table>
                                <tr>
                                    <td><p><a href="tel:+919150770490">Aravind</a></p></td>
                                    <td><p>&nbsp;&nbsp; <a href="tel:+919150770490">+91 9159770490</a></p></td>
                                </tr>
                                <tr>
                                    <td><p><a href="tel:+917092397131">Bharathakavi</a></p></td>
                                    <td><p>&nbsp;&nbsp; <a href="tel:+917092397131">+91 7092397131</a></p></td>
                                </tr>
                                <tr>
                                    <td><p><a href="tel:+918124396178">Muthamil</a></p></td>
                                    <td><p>&nbsp;&nbsp; <a href="tel:+918124396178">+91 8124396178</a></p></td>
                                </tr>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ftr-icons">
                        <div class="ftr-iblock">
                            <span class="glyphicon glyphicon-envelope">  </span>
                        </div>
                        <div class="ftr-text">
                            <p><a href="mailto:queries@infoquestgct.com">queries@infoquestgct.com</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- //footer end here -->
<!-- copy rights start here -->
<div class="copy-right">
    <div class="container">
        <p>©2017 All Rights Reserved. GCT ULTRONS INFOQUEST</p>
    </div>
</div>
<!-- //copy right end here -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
</body>
</html>