{% load static %}
<style>
@media screen and (max-width: 690px) {
  #title_message {
    visibility: hidden;
  }
}
</style>

<div class="agileinfo-header">
    <div class="container">
        <div class="agile-logo">
            <h1><a><i aria-hidden="true"><img class="bounce bounceIn animated" src="{% static 'images/cropped_logo.png' %}" width="50" height="55"></i>
                <span id="title_message">InfoQuest</span></a></h1>
        </div>
        <div class="agileits-w3layouts-icons">
            <div class="social-icon">
                <a target="_blank" href="https://www.facebook.com/infoquest18/" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                <a  target="_blank" href="https://www.instagram.com/infoquest18/" class="social-button google"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>