{% load static %}
<link rel="stylesheet" href={% static "dashboard/vendors/bootstrap/dist/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "dashboard/vendors/font-awesome/css/font-awesome.min.css" %}>
    <link rel="stylesheet" href={% static "dashboard/vendors/nprogress/nprogress.css" %}>
    <link rel="stylesheet" href={% static "dashboard/build/css/custom.min.css" %}>
    <link rel="stylesheet" href={% static "dashboard/glyphsearch/css/style.css" %}>
    <link rel="stylesheet" href={% static "dashboard/glyphsearch/css/fixedsticky.css" %}>

    <link rel="stylesheet" href={% static "dashboard/css/wizard.css" %}>

    <!--pnotify-->
    <link rel="stylesheet" href={% static "dashboard/vendors/pnotify/dist/pnotify.css" %}>
    <link rel="stylesheet" href={% static "dashboard/vendors/pnotify/dist/pnotify.buttons.css" %}>
    <link rel="stylesheet" href={% static "dashboard/vendors/pnotify/dist/pnotify.mobile.css" %}>

    <!--date and daterange picker -->
    <link rel="stylesheet" href={% static "dashboard/vendors/bootstrap-daterangepicker/daterangepicker.css" %}>

    <!-- for responsive nav tabs -->
    <link rel="stylesheet" href={% static "dashboard/vendors/bootstrap-responsive-tabs-master/dist/main.css" %}>


    <link rel="stylesheet" href={% static "dashboard/glyphsearch/css/style.css" %}>
    <link rel="stylesheet" href={% static "dashboard/glyphsearch/css/ionicons.css" %}>
    <link rel="stylesheet" href={% static "dashboard/glyphsearch/css/material-icons.css" %}>
    <link rel="stylesheet" href={% static "dashboard/glyphsearch/css/octicons.css" %}>