{% extends 'info_template/infoquest_header.html' %}

{% block body_content %}
    {% load static %}
    <div class="agileinfo-main about-top">
        <div class="banner">
        </div>
        {% include 'info_template/links.html' %}

        <!-- navigation start here -->
        <div class="top-nav">
			<span class="menu">
                Menu&nbsp;
                <i class="fa fa-chevron-down" style="color: rgb(210, 10, 10);font-size: 28px"></i></span>
            <ul class="w3l">
                <li><a href="{% url 'iq' %}"><i aria-hidden="true"
                                                class="glyphicon glyphicon-home"></i><span>Home</span></a></li>
                <li><a><i class="glyphicon glyphicon-user"></i><span>Register</span></a>
                </li>
                <li><a href="{% url 'iq_events' %}"><i class="glyphicon glyphicon-education"></i><span>Events</span></a>
                </li>
                <li><a href="{% url 'iq_result' %}"><i class="glyphicon glyphicon-list-alt"></i><span>Result</span></a>
                </li>
                <li><a href="{% url 'iq_contact' %}"><i
                        class="glyphicon glyphicon-envelope"></i><span>Sponsor</span></a></li>
            </ul>
            <!-- script-for-menu -->
            <script>
                $("span.menu").click(function () {
                    $("ul.w3l").slideToggle(300, function () {
                        // Animation complete.
                    });
                });
            </script>
            <!-- //script-for-menu -->
        </div>
    </div>

    <div class="single" style="background-color: #bdd8de">
        <div class="container">
            <div class="wthree_single_grid" style="margin: 10px">
                <h2 style="font-size: 2.4em">Blind Coding</h2>
                <h3 style="font-size: 2.4em">Round 1 - Open till 1 PM on 27th March <span style="color: #007b70">(Duration - 20 mins)</span></h3><br>
                <h3 style="font-size: 2.4em">Round 2 - 27th March Afternoon for shortlisted candidates</h3><br>
            </div>
            <div class="wthree_single_grid1" style="margin: 40px">
                <h2 style="font-size: 2em">Description</h2>
                <ul style="font-size: 1.3em;">
                    <br>
                    <li>You have to write the code for the given problem with monitor kept off.</li>
                    <li>Problem statement will be given on the spot to the participants.</li>
                    <li>So, Hurry up!!! Register now to ensure your place in blind coding.</li>
                </ul>
                <br>
                <br>
                <h2 style="font-size: 2em">Round 1</h2>
                <ul style="font-size: 1.3em;">
                    <br>
                    <li>Simple problem will be given, participants have to complete it within 15 mins.</li>
                </ul>
                <br>
                <br>
                <h2 style="font-size: 2em">Round 2</h2>
                <ul style="font-size: 1.3em;">
                    <br>
                    <li>Shortlisted participants will be given a little bit complex programs.</li>
                </ul>
                <br>
                <br>
                <h2 style="font-size: 2em">Rules and Regulations</h2>
                <ul style="font-size: 1.3em;">
                    <br>
                    <li>Individual participation.</li>
                    <li>Each participant has to write the code for the problem statement with monitor off.</li>
                    <li>Any malpractice found, participants will be disqualified immediately.</li>
                    <li>Participants whose code gets executed will be given higher preference.</li>
                </ul>
                <br>
                <b>Note:</b> Only event coordinators make final judgement, and there will not be any changes.
            </div>
        </div>
    </div>
{% endblock %}


