{% extends 'info_template/infoquest_header.html' %}

{% block body_content %}
    {% load static %}
    <div class="agileinfo-main about-top">
        <div class="banner">
        </div>
        {% include 'info_template/links.html' %}

        <!-- navigation start here -->
        <div class="top-nav">
			<span class="menu">
                Menu&nbsp;
                <i class="fa fa-chevron-down" style="color: rgb(210, 10, 10);font-size: 28px"></i></span>
            <ul class="w3l">
                <li><a href="{% url 'iq' %}"><i aria-hidden="true"
                                                class="glyphicon glyphicon-home"></i><span>Home</span></a></li>
                <li><a><i class="glyphicon glyphicon-user"></i><span>Register</span></a>
                </li>
                <li><a href="{% url 'iq_events' %}"><i class="glyphicon glyphicon-education"></i><span>Events</span></a>
                </li>
                <li><a href="{% url 'iq_result' %}"><i class="glyphicon glyphicon-list-alt"></i><span>Result</span></a>
                </li>
{#                <li><a href="{% url 'iq_contact' %}"><i#}
{#                        class="glyphicon glyphicon-envelope"></i><span>Sponsor</span></a></li>#}
             <li><a href="{% url 'iq_payment' %}"><i class="glyphicon glyphicon-barcode"></i><span>Payment</span></a></li>
            </ul>
            <!-- script-for-menu -->
            <script>
                $("span.menu").click(function () {
                    $("ul.w3l").slideToggle(300, function () {
                        // Animation complete.
                    });
                });
            </script>
            <!-- //script-for-menu -->
        </div>
    </div>

    <div class="single" >

        <div class="container">

            <div class="wthree_single_grid" style="margin: 10px">

                <h2 style="font-size: 2.4em">SECURE SHELL</h2>

                <p style='font-size: 20px;color: #333333'>
                    Cash prize will be Awarded
                </p><br>

                <h3 style="font-size: 2.4em">Round 1 - Open timings on 23rd March <span style="color: #007b70">(Duration - 60 mins)</span></h3><br>

                <h3 style="font-size: 2.4em">Round 2 - 24th March for shortlisted candidates <span style="color: #007b70">(Duration - 2 hours)</span></h3><br><br>

            </div>
            <div class="wthree_single_grid1" style="margin: 40px">
                <h2 style="font-size: 2em">Description</h2>

                <ul style="font-size: 1.3em;">
                    <br>


                    <li>Secure Shell event examines database concepts ,principles of DBMS and Query coding practices using MySQL.</li>

                </ul>
                <br>
                <br>
                <h2 style="font-size: 2em">Round 1</h2><br>

                <h2 style="font-size: 1.5em">Database related MCQ</h2>

                <ul style="font-size: 1.3em;">
                    <br>

                    <li>Open to all participants(open timing).</li>

                    <li>Contains 30 MCQ in Database</li>
                </ul>
                <br>
                <br>

                <h2 style="font-size: 2em">Round 2</h2><br>

                <h2 style="font-size: 1.5em">Full stack SQL QUERY based on requirements provided.</h2>

                <ul style="font-size: 1.3em;">
                    <br>

                    <li>Online SQL QUERY execution</li>

                </ul>
                <br>
                <br>

                <h2 style="font-size: 2em">RULES & REGULATION</h2>

                <ul style="font-size: 1.3em;">
                    <br>

                    <li>Individual participation.</li>

                    <li>First round multiple choice questions needs knowledge in relational data models, entity-relationship modeling, SQL, data normalization, and database design.</li>

                    <li>Malpractice will not be entertained at any time.</li>

                    <li>Participants who executes more Queries will be given higher preference.</li>

                </ul>
                <br>

                <b>Note:</b> Only event coordinators make final judgement, and there will not be any changes.
            </div>
        </div></div>
{% endblock %}


