{% extends 'info_template/infoquest_header.html' %}

{% block body_content %}
    {% load static %}
    <div class="agileinfo-main about-top">
        <div class="banner">
        </div>
        {% include 'info_template/links.html' %}

        <!-- navigation start here -->
        <div class="top-nav">
			<span class="menu">
                Menu&nbsp;
                <i class="fa fa-chevron-down" style="color: rgb(210, 10, 10);font-size: 28px"></i></span>
            <ul class="w3l">
                <li><a href="{% url 'iq' %}"><i aria-hidden="true"
                                                class="glyphicon glyphicon-home"></i><span>Home</span></a></li>
                <li><a><i class="glyphicon glyphicon-user"></i><span>Register</span></a>
                </li>
                <li><a href="{% url 'iq_events' %}"><i class="glyphicon glyphicon-education"></i><span>Events</span></a>
                </li>
                <li><a href="{% url 'iq_result' %}"><i class="glyphicon glyphicon-list-alt"></i><span>Result</span></a>
                </li>
                <li><a href="{% url 'iq_contact' %}"><i
                        class="glyphicon glyphicon-envelope"></i><span>Sponsor</span></a></li>
            </ul>
            <!-- script-for-menu -->
            <script>
                $("span.menu").click(function () {
                    $("ul.w3l").slideToggle(300, function () {
                        // Animation complete.
                    });
                });
            </script>
            <!-- //script-for-menu -->
        </div>
    </div>

    <div class="single" style="background-color: #bdd8de">
        <div class="container">
            <div class="wthree_single_grid" style="margin: 10px">
                <h2 style="font-size: 2.4em">Online Photography</h2>
                <p style='font-size: 20px;color: #333333'>
                    Cash prize will be Awarded
                </p><br>
                <h3 style="font-size: 2.4em">Round 1 - Open till 25th March</h3><br>
                <h3 style="font-size: 2.4em">Round 2 - 27th March for shortlisted candidates</h3><br>
                <div><p style="font-size: 30px;color: #681e63;font-family: RobotoCondensed;">Email us your photographs to: <a style="font-size: 20px;color: #1300f7" href="mailto:photography@infoquestgct.com">photography@infoquestgct.com</a></p></div>
                <h4>Send your name, year, college, contact number and quote about the photo along with the Photo.</h4>
                <br>
                <br>
                <h2 style="font-size: 2em">Theme</h2>
                <h3>Open Theme</h3>
                <br>
            </div>
            <div class="wthree_single_grid1" style="margin: 40px">
                <h2 style="font-size: 2em">Rules and Regulations</h2>
                <ul style="font-size: 1.3em;">
                    <br>
                    <li>Plagiarism should be strictly avoided</li>
                    <li>Individual event</li>
                    <li>Editing and usage of filters should be avoided</li>
                    <li>Use a minimum of 2MP camera and the image clarity should not be compromised</li>
                    <li>Send your name, year, college, contact number and quote about the photo along with the Photo to <a href="mailto:photography@infoquestgct.com">photography@infoquestgct.com</a></li>
                    <li>Results will be announced on <strong>28th March 2017</strong></li>
                </ul>
                <br>
                <b>Note:</b> Only event coordinators make final judgement, and there will not be any changes.
            </div>
        </div>
    </div>
{% endblock %}


