{% extends 'info_template/infoquest_header.html' %}

{% block body_content %}
    {% load static %}
    <div class="agileinfo-main about-top">
        <div class="banner">
        </div>
        {% include 'info_template/links.html' %}

        <!-- navigation start here -->
        <div class="top-nav">
			<span class="menu">
                Menu&nbsp;
                <i class="fa fa-chevron-down" style="color: rgb(210, 10, 10);font-size: 28px"></i></span>
            <ul class="w3l">
                <li><a href="{% url 'iq' %}"><i aria-hidden="true"
                                                class="glyphicon glyphicon-home"></i><span>Home</span></a></li>
                <li><a><i class="glyphicon glyphicon-user"></i><span>Register</span></a>
                </li>
                <li><a href="{% url 'iq_events' %}"><i class="glyphicon glyphicon-education"></i><span>Events</span></a>
                </li>
                <li><a href="{% url 'iq_result' %}"><i class="glyphicon glyphicon-list-alt"></i><span>Result</span></a>
                </li>
                <li><a href="{% url 'iq_contact' %}"><i
                        class="glyphicon glyphicon-envelope"></i><span>Sponsor</span></a></li>
            </ul>
            <!-- script-for-menu -->
            <script>
                $("span.menu").click(function () {
                    $("ul.w3l").slideToggle(300, function () {
                        // Animation complete.
                    });
                });
            </script>
            <!-- //script-for-menu -->
        </div>
    </div>

    <div class="single" style="background-color: #bdd8de">
        <div class="container">
            <div class="wthree_single_grid" style="margin: 10px">
                <h2 style="font-size: 2.4em">Designolah</h2>
                <p style='font-size: 20px;color: #333333'>
                    Cash prize will be Awarded
                </p><br>
                <h3 style="font-size: 2.4em">Round 1 - 10:30 AM to 12:00 PM on 27th March</h3><br>
                <h3 style="font-size: 2.4em">Round 2 - 02:30 PM to 04:00 PM on 27th March for shortlisted candidates</h3><br>
            </div>
            <div class="wthree_single_grid1" style="margin: 40px">
                <h2 style="font-size: 2em">Rules and Regulations</h2>
                <ul style="font-size: 1.3em;">
                    <br>
                    <li>Plagiarism should be strictly avoided</li>
                    <li>Individual event</li>
                    <li>Topic will be given <strong>on spot</strong></li>
                    <li>Poster should be made using Adobe photoshop or illustator</li>
                    <li>Duration of the event will be <strong>2 hours</strong></li>
                </ul>
                <br>
                <b>Note:</b> Only event coordinators make final judgement, and there will not be any changes.
            </div>
        </div>
    </div>
{% endblock %}


