{% extends 'info_template/infoquest_header.html' %}

{% block body_content %}
    {% load static %}
    <div class="agileinfo-main about-top">
        <div class="banner">
        </div>
        {% include 'info_template/links.html' %}

        <!-- navigation start here -->
        <div class="top-nav">
			<span class="menu">
                Menu&nbsp;
                <i class="fa fa-chevron-down" style="color: rgb(210, 10, 10);font-size: 28px"></i></span>
            <ul class="w3l">
                <li><a href="{% url 'iq' %}"><i aria-hidden="true"
                                                class="glyphicon glyphicon-home"></i><span>Home</span></a></li>
                <li><a><i class="glyphicon glyphicon-user"></i><span>Register</span></a>
                </li>
                <li><a href="{% url 'iq_events' %}"><i class="glyphicon glyphicon-education"></i><span>Events</span></a>
                </li>
                <li><a href="{% url 'iq_result' %}"><i class="glyphicon glyphicon-list-alt"></i><span>Result</span></a>
                </li>
                <li><a href="{% url 'iq_contact' %}"><i
                        class="glyphicon glyphicon-envelope"></i><span>Sponsor</span></a></li>
            </ul>
            <!-- script-for-menu -->
            <script>
                $("span.menu").click(function () {
                    $("ul.w3l").slideToggle(300, function () {
                        // Animation complete.
                    });
                });
            </script>
            <!-- //script-for-menu -->
        </div>
    </div>

    <div class="single" style="background-color: #bdd8de">
        <div class="container">
            <div class="wthree_single_grid" style="margin: 10px">
                <h2 style="font-size: 2.4em">Techwizard</h2>
                <p style='font-size: 20px;color: #333333'>
                    Cash prize will be Awarded
                </p><br>
                <h3 style="font-size: 2.4em">Round 1 - Open timings on 27th March <span style="color: #007b70">(Duration - 60 mins)</span></h3><br>
                <h3 style="font-size: 2.4em">Round 2 - 28th March for shortlisted candidates <span style="color: #007b70">(Duration - 3 hours)</span></h3><br><br>
                <h4 style="font-size: 1.7em">QUENCH  YOUR  QUEST  FOR    CODING </h4><br>
                <h6 style="font-size: 1.4em;margin: 15px">
                    Var life;<br>
                    While (life!=death)&nbsp;&nbsp;&nbsp;&nbsp;     //Endless Quench for code<br>
                    {<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Code();<br>
                    }<br>
                </h6>
            </div>
            <div class="wthree_single_grid1" style="margin: 40px">
                <h2 style="font-size: 2em">Description</h2>
                <ul style="font-size: 1.3em;">
                    <br>
                    <li>Tech wizard provides a great opportunity for coders and geeks to prove their skill in programming .</li>
                </ul>
                <br>
                <br>
                <h2 style="font-size: 2em">Round 1</h2>
                <br>
                <h2 style="font-size: 1.5em">The first step to good programming skill is to predict the output and debug the code.</h2>
                <ul style="font-size: 1.3em;">
                    <br>
                    <li>15 multiple choice questions on predicting the output and debugging for the code snippets given.</li>
                    <li>3 coding questions on paper which carries maximum weightage.</li>
                </ul>
                <br>
                <br>
                <h2 style="font-size: 2em">Round 2</h2>
                <br>
                <h2 style="font-size: 1.5em">Long Coding. A hands on proves you a geek coder.</h2>
                <ul style="font-size: 1.3em;">
                    <br>
                    <li>Given an acceptance criteria, code to provide the output needed as in acceptance criteria.</li>
                    <li>Make the enhancements given to be added on your code.</li>
                </ul>
                <br>
                <br>
                <h2 style="font-size: 2em">Rules and Regulations</h2>
                <ul style="font-size: 1.3em;">
                    <br>
                    <li>Individual participation.</li>
                    <li>Participant should bring the necessary stationery materials.</li>
                    <li>Every Participant is given duration of an hour to complete the first round from the time they take up the round.</li>
                    <li>First round multiple choice questions needs knowledge in languages c,c++ and java.</li>
                    <li>Coding can be done in any Language.</li>
                </ul>
                <br>
                <b>Note:</b> Only event coordinators make final judgement, and there will not be any changes.
            </div>
        </div>
    </div>
{% endblock %}


