{% extends 'info_template/infoquest_header.html' %}

{% block body_content %}
    {% load static %}
    <div class="agileinfo-main about-top">
        <div class="banner">
        </div>
        {% include 'info_template/links.html' %}

        <!-- navigation start here -->
        <div class="top-nav">
			<span class="menu">
                Menu&nbsp;
                <i class="fa fa-chevron-down" style="color: rgb(210, 10, 10);font-size: 28px"></i></span>
            <ul class="w3l">
                <li><a href="{% url 'iq' %}"><i aria-hidden="true"
                                                class="glyphicon glyphicon-home"></i><span>Home</span></a></li>
                <li><a><i class="glyphicon glyphicon-user"></i><span>Register</span></a>
                </li>
                <li><a href="{% url 'iq_events' %}"><i class="glyphicon glyphicon-education"></i><span>Events</span></a>
                </li>
                <li><a href="{% url 'iq_result' %}"><i class="glyphicon glyphicon-list-alt"></i><span>Result</span></a>
                </li>
{#                <li><a href="{% url 'iq_contact' %}"><i#}
{#                        class="glyphicon glyphicon-envelope"></i><span>Sponsor</span></a></li>#}
                 <li><a href="{% url 'iq_payment' %}"><i class="glyphicon glyphicon-barcode"></i><span>Payment</span></a></li>
            </ul>
            <!-- script-for-menu -->
            <script>
                $("span.menu").click(function () {
                    $("ul.w3l").slideToggle(300, function () {
                        // Animation complete.
                    });
                });
            </script>
            <!-- //script-for-menu -->
        </div>
    </div>

    <div class="single" >
        <div class="container">
            <div class="wthree_single_grid" style="margin: 10px">
                <h2 style="font-size: 2.4em">RSA</h2>
                <p style='font-size: 25px;color: white
'>
                    Cash prize will be Awarded
                </p><br>
                <h3 style="font-size: 2.4em">Round 1 - Open till 1 PM on 23rd March <span style="color: white">(Duration - 30 mins)</span></h3>

                <p style="color: white;font-size:27px">Multiple Choice Questions</p>


                <h3 style="font-size: 2.4em">Round 2 - 23rd March Afternoon for shortlisted candidates <span style="color: white">(Duration - 30 mins)</span></h3>



                <p style="color: white;font-size:27px">General Knowledge,Thinking,Current Affairs</p><br><br>

                <p style='font-size: 27px;color: white'>
                    RSA competition is a pursuit of trivial Knowledge, encourage students to achieve academic
                    excellence and Increase their awareness of the world around them.Recognize and appreciate
                    non-traditional values for competition. Build self-esteem and pride.
                </p>
            </div>
            <div class="wthree_single_grid1" style="margin: 40px">
                <h2 style="font-size: 3em">Rules</h2>


                <p style="color: #ffffff;font-size:27px">
                    No use of external web resource or any other resources for the test. On account of usage of any such resources the participants are subject to immediate disqualification.
                </p>
                <p style="color: white;font-size:27px">The decision of the Event coordinators will be final on ambiguous scenarios.</p>
                <p style="color: white;font-size:27px">Each question will be strictly evaluated and any plagiarism is not encouraged.
                </p>





                <br>
                <br>
                <b>Note:</b> Only event coordinators make final judgement, and there will not be any changes.
            </div>
        </div></div>
{% endblock %}


