<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" href="Main/static/Main/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="Main/static/Main/css/full.css"/>
    <link rel="stylesheet" type="text/css" href="Main/static/Main/css/full.css"/>
    <link rel="stylesheet" type="text/css" href="Main/static/Main/css/full.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <style type="text/css">

        .full {
            display: table;
            position: relative;
            width: 100%;
            height: 100%;
            background: url("gct.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }

        .blink {
            animation-duration: 1s;
            animation-name: blink;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
        }

        @keyframes blink {
            0% {
                color: #0c1fef;
            }
            50% {
                color: #1bffd3;
            }
            75% {
                color: #e08218;
            }
            100% {
                color: #088005;
            }
        }
    </style>

    <title>GCT</title>


    {% load staticfiles %}


    <link rel="stylesheet" href="{% static "dashboard/vendors/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/vendors/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="https://colorlib.com/polygon/gentelella/css/animate.min.css">
    <link rel="stylesheet" href="{% static "dashboard/build/css/custom.min.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "dashboard/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "dashboard/css/stylish-portfolio.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "dashboard/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top" onclick=$("#menu-close").click();>Start Bootstrap</a>
        </li>
        <li>
            <a href="#top" onclick=$("#menu-close").click();>Home</a>
        </li>
        <li>
            <a href="#about" onclick=$("#menu-close").click();>About</a>
        </li>
        <li>
            <a href="#services" onclick=$("#menu-close").click();>Services</a>
        </li>
        <li>
            <a href="#portfolio" onclick=$("#menu-close").click();>Portfolio</a>
        </li>
        <li>
            <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <strong class="blink">
            <h1>Government College of Technology</h1>
        </strong>
        <h2>Coimbatore - 13</h2>
        <br><br><br>
        <h1>We welcome you proudly</h1>
        <h5>to our</h5>
        <h2>Workshop</h2>
        <br>
        <a href="{% url 'signup' %}" class="btn btn-dark btn-lg">Register</a>
    </div>
</header>

<!-- Workshop Details -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Workshop</h2>
                <p class="lead">We proudly present workshop on
                    <a class="blink">
                        Internet of Things</a>
                </p>
                <p class="lead">
                    <u>Venue:</u>&nbsp; Auditorium
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Info Quest</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i>
                                    <img src="{% static 'img/iq.jpg' %}" width="120px" height="90px"/>
                                </i>
                            </span>
                            <h4>
                                <strong>Icon of IQ</strong>
                            </h4>
                            <p> All round performer </p>
                            <a class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i>
                                    <img src="{% static 'img/impromptu.png' %}" width="120px" height="90px"/>
                                </i>
                            </span>
                            <h4>
                                <strong>Impromptu</strong>
                            </h4>
                            <p> Master of Programming </p>
                            <a class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i>
                                    <img src="{% static 'img/paper.jpg' %}" width="120px" height="90px"/>
                                </i>
                            </span>
                            <h4>
                                <strong>Paper Presentation</strong>
                            </h4>
                            <p> Provoke innovative thoughts </p>
                            <a class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i>
                                    <img src="{% static 'img/gaming.jpg' %}" width="120px" height="90px"/>
                                </i>
                            </span>
                            <h4>
                                <strong>Gaming</strong>
                            </h4>
                            <p> Apocalypse Gamer </p>
                            <button type="button" class="btn btn-light" data-toggle="modal"
                                    data-target="#myModal">
                                Learn More
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Our College</h2>
                <hr class="small">
                <div class="row">
                    <div class="portfolio-item">
                        <a href="#">
                            {% load staticfiles %}
                            <img src="{% static 'img/gct.jpg' %}">
                        </a>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="" class="btn btn-dark">View More Items</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<!-- Map -->
<div id="map" style="width:100%;height:500px"></div>

<script>
    function myMap() {
        var myCenter = new google.maps.LatLng(11.020202, 76.936229);
        var mapCanvas = document.getElementById("map");
        var mapOptions = {center: myCenter, zoom: 15};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({position: myCenter});
        marker.setMap(map);
    }
</script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyD33QtXOiyXlFlu6w-WqxE3_rDm4NZRcdI" type="text/javascript"></script>
<script type="text/javascript">
    //<![CDATA[
    function createMarker(point,html) {
        var marker = new GMarker(point);
        GEvent.addListener(marker, "click", function() {
        marker.openInfoWindowHtml(html);
        });
    return marker;
    }

    function load() {
    if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.addControl(new GSmallMapControl());
        map.addControl(new GMapTypeControl());
        map.setCenter(new GLatLng(51.16349933440274, 4.371164292063712 ), 6);
        var point = new GLatLng(51.16349933440274, 4.371164292063712);
        var marker = createMarker(point,'<div style="width:240px"> \
          Place:    <b>ANTWERPEN          </b><br> \
          </div>')
          map.addOverlay(marker);
    }
   }
   //]]>
  </script>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <div class="text-center">
                <h4><strong>Contact</strong>
                </h4>
                <p>Aravind P
                    <br>General Secretary
                    <br>Computer Science and Engineering</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone"></i> (+91) 999-999-9999</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:aravind@gmail.com">aravind@gmail.com</a>
                    </li>
                </ul>
                <br>
                <hr class="small">
                <p class="text-muted">Copyright &copy; GCTIAN</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{% static "js/jquery.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>

<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function () {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

</body>

</html>
